body {
  background-image: url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2022/11/marvel-snap-game-card-mobile-crossplay-pc-steam.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  #card-holder {
    margin: auto;
    width: 500px;
    height: 560px;
    margin-top: 60px;
    background-color: #F8F8FF;
  }

  #card-holder img {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  #card-holder {
    width: 630px;
    height: 730px;
    margin-top: 130px;
    margin-left: 100px;
    background-color: #F8F8FF;
  }

  #card-holder img {
    width: 600px;
    display: block;
    margin: auto;
  }
}